.hero {
    width: 100%;
    display: flex;
    gap: 3rem;
    margin: 4rem 0 4rem 0;
    padding: 0 1.5rem;
    background-color: #FFFFFF;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image {
    max-width: 18.75rem;
    max-height: 18.75rem;
    border-radius: 50%;
    border: .125rem solid #0e76a8;
    place-self: center;
    margin-bottom: 2rem;
}

.title {
    margin: 0;
    font-weight: 700;
    font-size: 3.5rem;
}

.subtitle {
    margin: 0;
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.description {
    margin: 0;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

@media screen and (max-width: 51.25rem) {
    .hero {
        flex-direction: column;
    }
    
}